<div class="col-md-4">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ability of abilities" (click)="onSelect(hero)" [class.selected]="ability === selectedAbility">
        <td>
          <span class="badge">{{ability.id}}</span>
        </td>
        <td>{{ability.name}}</td>
        <td>
          <span class="glyphicon glyphicon-remove text-danger removeIcon" (click)="delete(ability); $event.stopPropagation()"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>