.selected {
    background-color: #C4B5D6 !important;
}

tr:hover {
    background-color: rgba(137, 193, 68, 0.43) !important;
}

.deleteBtn {
    display: none;
}

tr:hover button {
    display: block;
}

td {
    font-size: 20px;
}